<li class="language-switcher">
                {#- Display the current language first in the dropdown -#}
            | 
                    <span class="lang-item"> {{lang}}  </span>
            {#- Loop through all the available languages in the config -#}
            {%- for lcode, ldetails in config.languages -%}
                {#- Skip the current language to avoid linking to the current page -#}
                {%- if lang == lcode -%}
                {%- endif -%}
                {#- Dynamically load the language strings for each language -#}
                {%- set other_language_strings = load_data(path="i18n/" ~ lcode ~ ".toml", required=false) -%}
                {%- if not other_language_strings -%}
                    {%- set other_language_strings = load_data(path="themes/tabi/i18n/" ~ lcode ~ ".toml", required=false) -%}
                {%- endif -%}
                {#- Use the loaded language strings to get the language name -#}
                {% set language_name = macros_translate::translate(key="language_name", default=lcode,
                language_strings=other_language_strings) %}
                {#- Check if the language code matches the default language -#}
                {%- if lcode == config.default_language -%}
                    {#- If it does, link to the root path (no language code in URL) -#}
                    <span class="lang-item"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="{{ current_url | replace(from='/' ~ lang ~ '/', to = '/') }}">{{ lcode }} </a> </span>
                    {#- Check if the current language is the default language -#}
                    {#- If it is, append the language code to the base URL -#}
                {%- elif lang == config.default_language -%}
                    <span class="lang-item"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="{{ config.base_url }}/{{ lcode }}{{ current_path | default(value="/") | safe }}">{{ lcode }} </a> </span>
                {%- else -%}
                    {#- If it's not, replace the current language code in the URL with the new one -#}
                    <span class="lang-item"><a role="menuitem" lang="{{ lcode }}" aria-label="{{ language_name }}" href="{{ current_url | replace(from='/' ~ lang ~ '/', to='/' ~ lcode ~ '/') }}">{{ lcode }} </a> </span>
                {%- endif -%}
                |
            {%- endfor -%}
</li>
