{% if src %}
  {% if src is not starting_with("http") %}
    {% set src = config.base_url ~ src %}
  {% endif %}
    {% set class_safe = "" %}
  {% if class %}
    {% set class_safe = class %}
  {% endif %}
  <figure>
    <img src="{{ src | safe }}"{% if alt %} alt="{{ alt }}"{% endif %} class="{{class_safe}}" />
    {% if caption %}
      <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}"{% if caption_style %} style="{{ caption_style | safe }}"{% endif %}>{{ caption | safe }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
